<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>
  </head>
  <body>
  <p><%=JSON.stringify(dataST)%></p>
  <br>
    <center>
    <h1>Subject</h1>
    <table border="1" style="width:20%">
      <tr>
        <th>No.id</th>
        <th>Subject</th>
        <th>Teacher</th>

      <% dataST.forEach(isi =>{ %>
      </tr>

        <td><%=isi.id%></td>
        <td><%=isi.subject_name%></td>
        <td>
          <% for (var i=0; i<dataST.length; i++){ %>
            <%= JSON.stringify(dataST[i].Teachers[1].first_name)%>
          <%}%>


        </td>


      <% }) %>


    </table>
    <br><br>
<br><br>
<a href="/"><b>Home</b></a>

</center>

  </body>
</html>
