<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher Add</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <center>
      <h1>Edit Teacher Data</h1>

      <a href="#">show all data</a>
      <br><br>

        <form action="/teachers/edit/<%=editT.id%>" method="post">
              <!-- <%JSON.stringify(editT)%> -->
          First Name :<br>
          <input type="text" name="first_name" value="<%=editT.first_name%>">
          <br>

          Last Name :<br>
          <input type="text" name="last_name" value="<%=editT.last_name%>">
          <br>

          Email :<br>
          <input type="text" name="email" value="<%=editT.email%>">
          <br>

          <br>
          <input type="submit" value="Edit Teacher">

        </form>
<br>
<!-- <a href="/"><b>Home</b></a> -->
</center>

  </body>
</html>
