<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher Add</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <center>
      <h1>All Teachers Data</h1>
      <a href="#">show all data</a>
      <br><br>

    <form action="add_teachers" method="post">

  First Name :<br>
  <input type="text" name="first_name" value="">
  <br>

  Last Name :<br>
  <input type="text" name="last_name" value="">
  <br>

  Email :<br>
  <input type="text" name="email" value="">
  <br>

  <br>
  <input type="submit" value="Add Student">

</form>
<br><br>
<!-- <a href="/"><b>Home</b></a> -->

</center>

  </body>
</html>
